<h3>Selected candidates</h3>

<% Club.all.each do |club| %>
  <% if club.selected_applications.present? %>
    <%= card _class: 'mt-4', title: club.name do %>
      <%= render 'application_submissions/selected_index', application_submissions: club.selected_applications %>
    <% end %>
  <% end %>
<% end %>