<h1 class="display-6 text-center">Dashboard</h1>

<h3>Selected candidates</h3>
<%= link_to 'Print', all_selected_candidates_path, class: 'btn btn-info', target: '_blank' %>

<% Club.all.each do |club| %>
  <% if club.selected_applications.present? || 1 %>
    <%= card _class: 'mt-4', title: club.name do %>
      <%= render 'application_submissions/selected_index', application_submissions: club.selected_applications %>
    <% end %>
  <% end %>
<% end %>