<% content_for :title do %>Applications
<% end %>

<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="row">
      <div class="card-header-title col-6">
        Applications
      </div>
    </div>
    
  </div>

  <div class="card-body">
    <div id="table_div">
      <%= render 'index' %>
    </div>
  </div>
</div>
