<select class="js-example-basic-multiple" style="width: 300px" name="states[]" multiple="multiple">
  <option selected value="AL">Alabama</option>
  <option selected value="WY">Wyoming</option>
</select>
$(document).ready(function() {
  $('.js-example-basic-multiple').select2();
});
