<%= render 'shared/step', step_1: 'done', step_2: 'done', step_3: 'active' %>

<% if @application_submissions.empty? %>
  <div class="text-center">
    Not applied to any club!!!
  </div>
<% else %>
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Drag-and-drop list to update preference</p>
    </blockquote>
  </figure> 
<% end %>

<div class="row justify-content-center">
  <%= render 'preference', application_submissions: @application_submissions, col: 'col-12 col-sm-6' %>
</div>

<% if @application_submissions.present? %>
  <div class="text-center mt-4">
    <span class="badge bg-success">*</span> - Selected
  </div>
<% end %>

<style>
  #priority-list div{
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-top: 4px;
    cursor: -webkit-grabbing;
  }
</style>