<% content_for :title do %>Application Submissions
<% end %>

<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="row">
      <div class="card-header-title col-6">
        Submissions - <%= @club.short_name %>
      </div>
    </div>
    
  </div>

  <div class="card-body">
    <div id="table_div">
      <%= render 'index', application_submissions: @application_submissions %>
    </div>
  </div>
</div>
