<% content_for :title do %>Club Selection
<% end %>

<% @clubs.each do |club| %>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= club.name %></h5>
            <p class="card-text"><%= club.info %></p>
            <a href="#" class="btn btn-primary">Apply</a>
        </div>
    </div>
<% end %>