<%% content_for :title do %><%= plural_table_name.titleize %>
<%% end %>

<div class="main-card mb-3 card mt-4">
  <div class="card-header">
    <div class="row">
      <div class="card-header-title col-6">
        <%= plural_table_name.titleize %>
      </div>

      <div class="col-6">
        <div role="group" class="btn-group-sm btn-group float-end">
          <%%= link_to 'New <%= singular_table_name.titleize %>', new_<%= singular_table_name %>_path, format: :js, data: {toggle: "modal", target: "#ajax-modal"}, remote: true, class: "btn btn-primary btn-xs" %>
        </div>
      </div>
    </div>
    
  </div>

  <div class="card-body">
    <div id="table_div">
      <%%= render 'index' %>
    </div>
  </div>
</div>
